h1 {
    font-size: 3vw;
    text-align: center;
    font-family: sans-serif;
    color: steelblue;
    margin-top: 1vw;
    margin-bottom: -1vw;
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    color: steelblue;
}

.intro-text {
    font-size: 12pt;
}

.selector {
    text-align: center;
}

.column {
    float: left;
    width: 45%;
    padding: 5px;
}

.column3 {
    float: left;
    width: 33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}

#images{
    text-align:center;
}

.fade-img {
    position: relative;
}

.fade-img:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    height: 40%;
}

#desc-text {
    font-size: 1.5vw;
    font-family: sans-serif;
    margin-top: 4vw;
    margin-left: 4vw;
    margin-right: 4vw;
    color: black;
    border: 5px solid steelblue;
    border-radius: 1vw;
    padding-top: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
}

#highlight-text {
    font-size: 2.5vw;
    font-family: sans-serif;
    margin-top: 5vw;
    margin-left: 3vw;
    margin-right: 3vw;
    color: black;
    text-align: center;
    border: 5px solid steelblue;
    border-radius: 1vw;
    padding-top: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
}

.responsive {
    width: 115%;
    height: auto;
}
#flag_img {
    margin-top: 5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.center {
    margin: auto;
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hide_form {
    display: none;
}

button {
    background-color: steelblue;
    font-size: 1.5vw;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    margin-bottom: 5vw;
    width: 50%;
    padding: 1.5vw 1.5vw;
}



#penalty-text {
    text-align: center;
    font-size: 1.5vw;
    font-family: sans-serif;
    margin-top: 4vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vw;
    color: black;
    border: 5px solid steelblue;
    border-radius: 1vw;
    padding-top: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#form1{
    border-color: #000;
    border-style: groove;
    border-width: 2px;
    padding: 0px;
    background-color: #FFF;
    font-size: 70%;
    position: absolute;
    top: 200px;
    left: 10px;
}
#close1 {
     background-color: lightgrey;
     font-size: 1.5vw;
     border-radius: 2px;
     padding: 0.5vw 0.5vw;
     position: absolute;
     top: 100px;
    left: 10px;
     width: 10%;
 }

form{
    border-color: #000;
    border-style: groove;
    border-width: 2px;
    padding: 0px;
    background-color: #FFF;
    font-size: 70%;
    position: absolute;
    top: 200px;
    left: 10px;
}
.close {
    background-color: lightgrey;
    font-size: 1.5vw;
    border-radius: 2px;
    padding: 0.5vw 0.5vw;
    position: absolute;
    top: 100px;
    left: 10px;
    width: 10%;
}

#penalty_header {
    margin-bottom: 0.5vw;
}

#pen_selector {
    margin-bottom: 20px;
}

#change-text {font-size: 1.5vw;
    font-family: sans-serif;
    margin-top: 0.5vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vw;
    color: black;
    border: 5px solid steelblue;
    border-radius: 1vw;
    padding-top: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
}

#line_1 {
    font-size: 3vw;
    font-family: sans-serif;
    margin-top: 15vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 0vw;
    padding-top: 1vw;
    padding-right: 1vw;
    padding-bottom: 0vw;
    padding-left: 1vw;
    text-decoration: none;
}

#line_2 {
    font-size: 3vw;
    font-family: sans-serif;
    margin-top: 0vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 0vw;
    padding-top: 1vw;
    padding-right: 1vw;
    padding-bottom: 0vw;
    padding-left: 1vw;
    text-decoration: none;
}

#treemap {
    align-content: center;
}

#tree_title {
    margin-bottom: 2vw;
}

#tree-text {
    width: 90%;
    text-align: center;
    font-size: 1.5vw;
    font-family: sans-serif;
    margin-top: 0.5vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vw;
    color: black;
    border: 5px solid steelblue;
    border-radius: 1vw;
    padding-top: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
}